@charset "UTF-8";
/* *************************************
Date: 2020-09-01
SCSS Document: 楽天スーパーSALE 告知

common style

************************************** */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* *************************************

settings style

************************************** */
/* *************************************

functions style

************************************** */
/* *************************************

mixin style

************************************** */
/* *************************************

base style

************************************** */
.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: '';
}
.cf:after {
  clear: both;
}

* {
  font-size: 16px;
  color: #333;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'HiraKakuGoProW3', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', 'メイリオ', Meiryo;
  font-weight: 200;
  background-color: #fafbfb;
}

ul {
  font-size: 0;
  list-style: none;
}

img {
  vertical-align: bottom;
}

a:hover {
  opacity: 0.7;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
a:hover, a:active {
  color: inherit;
  text-decoration: underline;
}
a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

/* margin, padding */
.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

/* *************************************

layout style

************************************** */
[v-cloak] {
  display: none !important;
}

.isMen, .isWomen {
  display: none;
}

.item__term, .btn__fav {
  display: none !important;
}

.wrap {
  position: relative;
}

[data-cat$="sp"],
.sp {
  display: none !important;
}

.header {
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  height: 169px;
}
.header .header__cont {
  position: relative;
  width: 100%;
  max-width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  padding: 10px 0;
}
.header .header__cont .header__left {
  float: left;
}
.header .header__cont .header__left .header__logo {
  display: inline-block;
  margin: 18px 0 0 5px;
}
.header .header__cont .header__left .header__logo.logo {
  float: left;
}
.header .header__cont .header__left .header__logo.logo .logo__txt {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: bold;
}
.header .header__cont .header__left .header__logo.logo .logo__txt span {
  display: block;
  font-size: 11px;
}
.header .header__cont .header__left .header__search.search {
  position: relative;
  float: left;
  margin: 12px 0 0 0;
  width: 480px;
}
.header .header__cont .header__left .header__search.search input {
  padding: 0 0 0 10px;
  border: solid 2px #b31d22;
  height: 34px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
}
.header .header__cont .header__left .header__search.search button {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 22px;
  background: none;
  border-style: none;
  cursor: pointer;
}
.header .header__cont .header__left .header__search.search button i {
  color: #b31d22;
}
.header .header__cont .header__left .header__search::after {
  content: '【告知】楽天お買い物マラソン 10月4日(日)スタート！';
  position: absolute;
  display: block;
  left: 0;
  bottom: -20px;
  width: 100%;
  font-size: 12px;
}
.header .header__cont .header__right {
  float: right;
  max-width: 400px;
}
.header .header__cont .header__right .header__banner.banner .banner__items {
  border: solid #ccc 1px;
  text-align: center;
}
.header .header__cont .header__right .header__banner.banner .banner__items .item a {
  display: block;
}
.header .header__cont .header__right .header__banner.banner .banner__items .item.bg--blue {
  background: #3486be;
}
.header .header__cont .header__right .header__banner.banner .banner__items .item.bg--pink {
  background: #d7262a;
}
.header .header__cont .header__right .header__banner .slick-slider {
  display: none;
}
.header .header__cont .header__right .header__banner .slick-slider.slick-initialized {
  display: block;
}
.header .header__cont .header__right .header__banner .slick-slide img {
  display: inline-block;
}
.header .header__cont .header__right .header__info {
  position: relative;
  display: block;
  margin: 10px 0 0 0;
}
.header .header__cont .header__right .header__info.info .info__items {
  margin: 0 auto;
}
.header .header__cont .header__right .header__info.info .info__items .item {
  display: inline-block;
  margin: 0 10px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header .header__cont .header__right .header__info.info .info__items .item a {
  font-size: 13px;
}
.header .header__cont .header__right .header__info.info .info__items .item i {
  font-size: 14px;
  line-height: 16px;
}
.header .header__nav {
  position: relative;
  display: block;
  background: #222;
}
.header .header__nav.fixd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .header__nav.nav .nav__items {
  width: 1100px;
  margin: 0 auto;
  height: 103px;
}
.header .header__nav.nav .nav__items .item {
  display: inline-block;
  width: calc(100% / 6);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header .header__nav.nav .nav__items .item a {
  display: block;
  padding: 15px 0;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #fff;
  line-height: 1.6em;
  border-left: solid #fff 1px;
}
.header .header__nav.nav .nav__items .item:last-child a {
  border-right: solid #fff 1px;
}
.header .header__nav.nav .nav__items.isMen .item:nth-child(6) {
  border-right: solid #fff 1px;
}
.header .header__nav.nav .nav__items.isMen .item:nth-child(-n + 6) {
  border-bottom: solid #fff 1px;
}
.header .header__nav.nav .nav__items.isWomen .item {
  width: calc(100% / 4);
}
.header .header__nav.nav .nav__items.isWomen .item:nth-child(4) {
  border-right: solid #fff 1px;
}
.header .header__nav.nav .nav__items.isWomen .item:nth-child(-n + 4) {
  border-bottom: solid #fff 1px;
}

.main {
  position: relative;
  margin: 70px auto 0;
}
.main .main__headline {
  margin: 0 auto 0;
  width: 1000px;
}
.main .main__headline.headline {
  position: relative;
}
.main .main__headline.headline .headline__crumb {
  font-size: 14px;
  margin: 0 0 10px;
}
.main .main__headline.headline .headline__mallinfo {
  text-align: center;
  margin: 0 auto 30px;
  display: none;
}
.main .main__headline.headline .headline__mv {
  position: relative;
  margin: 0 auto;
}
.main .main__headline.headline .headline__ttl {
  margin: 50px 0 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.main .main__headline.headline .headline__date {
  text-align: center;
  margin: 30px auto 0;
  font-size: 24px;
  font-weight: bold;
}
.main .main__headline.headline .headline__date span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #d85401));
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, #d85401 50%);
  font-size: inherit;
  text-shadow: 1px 1px 0 #fff;
}
.main .main__headline.headline .headline__date span .font--small {
  font-size: 18px;
}
.main .main__headline.headline .headline__txt {
  width: 85%;
  margin: 30px auto 0;
  text-align: center;
  line-height: 1.8em;
}
.main .main__headline.headline .headline__entry {
  margin: 70px 0 0;
}
.main .main__headline.headline .headline__entry.entry .entry__ttl {
  text-align: center;
}
.main .main__headline.headline .headline__entry.entry .entry__txt {
  text-align: center;
  color: #e81f18;
  font-size: 22px;
  margin: 10px 0 0;
}
.main .main__headline.headline .headline__entry.entry .entry__txt span {
  color: inherit;
  font-weight: bold;
  font-size: 28px;
}
.main .main__headline.headline .headline__entry.entry .entry__btn {
  text-align: center;
}
.main .main__headline.headline .headline__entry.entry .entry__btn a {
  display: block;
  width: 50%;
  margin: 20px auto 0;
  padding: 22px 0;
  color: #fff;
  background: #d85401;
  border-radius: 32px;
  font-weight: bold;
  font-size: 20px;
}
.main .main__headline.headline .headline__cpn {
  margin: 70px 0 0;
}
.main .main__headline.headline .headline__cpn.cpn .cpn__ttl {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #d85401;
  text-shadow: 1px 1px 0 #aaa;
}
.main .main__headline.headline .headline__cpn.cpn .cpn__bnr {
  position: relative;
  width: 600px;
  margin: 20px auto 0;
}
.main .main__headline.headline .headline__cpn.cpn .cpn__bnr a img {
  display: block;
  width: 100%;
}
.main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__01 {
  position: absolute;
  width: 90px;
  top: -33px;
  left: 20px;
}
.main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__02 {
  position: absolute;
  width: 90px;
  top: -33px;
  right: 20px;
}
.main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__03 {
  position: absolute;
  width: 90px;
  top: -33px;
  left: 20px;
}
.main .main__headline.headline .headline__info {
  margin: 70px 0 0;
}
.main .main__headline.headline .headline__info.info .info__ttl {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #d85401;
  text-shadow: 1px 1px 0 #aaa;
}
.main .main__headline.headline .headline__info.info .info__list {
  margin: 30px 0 0;
}
.main .main__headline.headline .headline__info.info .info__list .item {
  list-style: none;
  float: left;
  width: 49%;
  margin: 0 2% 0 0;
}
.main .main__headline.headline .headline__info.info .info__list .item a {
  display: block;
}
.main .main__headline.headline .headline__info.info .info__list .item a img {
  width: 100%;
  border-radius: 7px;
}
.main .main__headline.headline .headline__info.info .info__list .item:nth-child(2) {
  margin: 0 0 0 0;
}
.main .main__headline.headline .headline__nav {
  margin: 70px 0 0;
}
.main .main__headline.headline .headline__nav.nav .nav__ttl {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #d85401;
  text-shadow: 1px 1px 0 #aaa;
}
.main .main__headline.headline .headline__nav.nav .nav__items {
  margin: 10px auto 0;
}
.main .main__headline.headline .headline__nav.nav .nav__items .item {
  position: relative;
  float: left;
  width: 23.5%;
  margin: 2% 2% 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*.fuwafuwa {
  	-webkit-animation:fuwafuwa 3s infinite linear alternate;
  	animation:fuwafuwa 3s infinite linear alternate;
  }*/
}
.main .main__headline.headline .headline__nav.nav .nav__items .item a {
  display: block;
}
.main .main__headline.headline .headline__nav.nav .nav__items .item a::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.main .main__headline.headline .headline__nav.nav .nav__items .item img {
  width: 100%;
}
.main .main__headline.headline .headline__nav.nav .nav__items .item span {
  position: absolute;
  display: block;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  line-height: 1.2em;
}
.main .main__headline.headline .headline__nav.nav .nav__items .item span::after {
  display: block;
  margin: 10px auto 0;
  content: '';
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-animation: fuwafuwa 2s infinite linear alternate;
  animation: fuwafuwa 2s infinite linear alternate;
}
@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0) rotate(135deg);
    transform: translate(0, 0) rotate(135deg);
  }
  50% {
    -webkit-transform: translate(0, -7px) rotate(135deg);
    transform: translate(0, -7px) rotate(135deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(135deg);
    transform: translate(0, 0) rotate(135deg);
  }
}
@keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0) rotate(135deg);
    transform: translate(0, 0) rotate(135deg);
  }
  50% {
    -webkit-transform: translate(0, -7px) rotate(135deg);
    transform: translate(0, -7px) rotate(135deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(135deg);
    transform: translate(0, 0) rotate(135deg);
  }
}
.main .main__headline.headline .headline__nav.nav .nav__items .item:nth-child(4n) {
  margin: 2% 0 0 0;
}
.main .main__headline.headline .headline__special {
  width: 1000px;
  margin: 80px auto;
  padding: 0 0 30px;
  background: #cc6714;
}
.main .main__headline.headline .headline__special.special h2 {
  padding: 20px 0 15px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 95px;
  text-shadow: 1px 2px 0 #222;
}
.main .main__headline.headline .headline__special.special .special__list {
  margin: 0 20px 0;
}
.main .main__headline.headline .headline__special.special .special__list .item {
  float: left;
  width: 49%;
  background: #fff;
  margin: 20px 2% 0 0;
  position: relative;
  border-style: solid;
  border-color: #e1e1e1;
  border-width: 0 1px 1px 0;
  padding: 0 1px 10px 0;
}
.main .main__headline.headline .headline__special.special .special__list .item img {
  width: 100%;
}
.main .main__headline.headline .headline__special.special .special__list .item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0 0 10px;
  font-size: 14px;
}
.main .main__headline.headline .headline__special.special .special__list .item .item__term {
  display: inline-block;
  padding: 5px 6px 5px;
  font-size: 12px;
  background: #111;
  color: #fff;
}
.main .main__headline.headline .headline__special.special .special__list .item .item__price {
  color: #e81f18;
  font-size: 14px;
  margin: 20px 0 0 10px;
}
.main .main__headline.headline .headline__special.special .special__list .item .item__price span {
  color: inherit;
  display: inline-block;
  margin: 0 3px 0;
  font-size: 20px;
}
.main .main__headline.headline .headline__special.special .special__list .item .item__price.shipping__free:after {
  position: relative;
  display: inline-block;
  content: '送料無料';
  border: solid #e81f18 1px;
  margin: 0 0 0 7px;
  padding: 4px 4px 3px;
  font-size: 12px;
}
.main .main__headline.headline .headline__special.special .special__list .item .item__price--isOld {
  text-decoration: line-through;
}
.main .main__headline.headline .headline__special.special .special__list .item .note {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #d85401;
  padding: 3px 5px 2px;
  color: #fff;
  line-height: 1.4em;
  font-size: 14px;
  font-weight: bold;
}
.main .main__headline.headline .headline__special.special .special__list .item .btn__fav {
  margin: 20px 10px 0;
}
.main .main__headline.headline .headline__special.special .special__list .item .btn__fav a {
  display: block;
  border-radius: 3px;
  background: #e81f18;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
.main .main__headline.headline .headline__special.special .special__list .item:nth-child(2n) {
  margin: 20px 0 0 0;
}
.main .main__headline.headline .headline__special .cont__btn {
  width: 60%;
  margin: 30px auto 0;
}
.main .main__headline.headline .headline__special .cont__btn a {
  display: block;
  background: #222;
  color: #ffffff;
  text-align: center;
  padding: 18px 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid #ffffff 1px;
  width: 100%;
  margin: 0 auto;
}
.main .main__headline.headline .headline__special .cont__btn a:hover {
  color: #222;
  background: #ffffff;
  border: solid #222 1px;
}
.main .main__headline.headline .headline__btn {
  width: 60%;
  margin: 30px auto 0;
}
.main .main__headline.headline .headline__btn a {
  display: block;
  background: #222;
  color: #ffffff;
  text-align: center;
  padding: 18px 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid #ffffff 1px;
  width: 100%;
  margin: 0 auto;
}
.main .main__headline.headline .headline__btn a:hover {
  color: #222;
  background: #ffffff;
  border: solid #222 1px;
}
.main .main__headline.headline .headline__btn .btn__coution {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 0 0 20px;
}
.main .main__headline.headline .headline__btn .btn__coution span {
  color: inherit;
}
.main .main__headline.headline .headline__btn .btn__coution span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  vertical-align: bottom;
  margin: 0 5px 0 0;
}
.main .main__headline.headline .headline__btn .btn__coution span::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  vertical-align: bottom;
  margin: 0 0 0 5px;
}
.main .main__cont {
  margin: 0 auto 0;
  width: 1000px;
}
.main .main__cont.cont .cont__remark {
  width: 1000px;
  margin: 40px auto;
  padding: 0 0 30px;
}
.main .main__cont.cont .cont__remark.remark h2 {
  padding: 30px 0 20px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.main .main__cont.cont .cont__remark.remark h3 {
  text-align: center;
  margin: 0 0 0;
}
.main .main__cont.cont .cont__remark.remark .remark__kwd {
  text-align: center;
}
.main .main__cont.cont .cont__remark.remark .remark__kwd .item {
  display: inline-block;
  margin: 10px 5px 0;
}
.main .main__cont.cont .cont__remark.remark .remark__kwd .item a {
  color: #e81f18;
  border-bottom: solid #e81f18 1px;
}
.main .main__cont.cont .cont__remark.remark .remark__list {
  margin: 20px 0 0;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item {
  float: left;
  width: 235px;
  background: #fff;
  margin: 20px 20px 0 0;
  position: relative;
  border-style: solid;
  border-color: #e1e1e1;
  border-width: 0 1px 1px 0;
  padding: 0 1px 15px 0;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item img {
  width: 100%;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0 0 10px;
  font-size: 14px;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .item__term {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 6px 5px;
  font-size: 12px;
  background: #111;
  color: #fff;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .item__price {
  color: #e81f18;
  font-size: 16px;
  margin: 20px 0 0 10px;
  height: 25px;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .item__price span {
  color: inherit;
  display: inline-block;
  margin: 0 3px 0;
  font-size: 20px;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .item__price.shipping__free:after {
  position: relative;
  display: inline-block;
  content: '送料無料';
  border: solid #e81f18 1px;
  margin: 0 0 0 7px;
  padding: 4px 4px 3px;
  font-size: 12px;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .item__price--isOld {
  text-decoration: line-through;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .note {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #d85401;
  padding: 3px 5px 2px;
  color: #fff;
  line-height: 1.4em;
  font-size: 13px;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .btn__fav {
  margin: 20px 10px 0;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item .btn__fav a {
  display: block;
  border-radius: 3px;
  background: #e81f18;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
.main .main__cont.cont .cont__remark.remark .remark__list .item:nth-child(4n) {
  margin: 20px 0 0 0;
}
.main .main__cont.cont .cont__remark.remark .cat__list {
  width: 600px;
  margin: 30px auto 0;
}
.main .main__cont.cont .cont__remark.remark .cat__list .item {
  float: left;
  width: 24%;
  margin: 0 1.33% 0 0;
}
.main .main__cont.cont .cont__remark.remark .cat__list .item a img {
  width: 100%;
}
.main .main__cont.cont .cont__remark.remark .cat__list .item:nth-child(4) {
  margin: 0 0 0 0;
}
.main .main__cont.cont .cont__remark .cont__btn {
  width: 60%;
  margin: 30px auto 0;
}
.main .main__cont.cont .cont__remark .cont__btn a {
  display: block;
  background: #222;
  color: #ffffff;
  text-align: center;
  padding: 18px 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid #ffffff 1px;
  width: 100%;
  margin: 0 auto;
}
.main .main__cont.cont .cont__remark .cont__btn a:hover {
  color: #222;
  background: #ffffff;
  border: solid #222 1px;
}
.main .main__cont.cont .cont__brand h2 {
  text-align: center;
  font-size: 24px;
  margin: 70px 0 0;
}
.main .main__cont.cont .cont__brand.brand .brand__cont h4 {
  margin: 40px 0 0;
  font-size: 28px;
  font-weight: bold;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .initial__items {
  margin: 30px 0 0;
  letter-spacing: -.4em;
  border-bottom: solid #ccc 1px;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .initial__items li {
  display: inline-block;
  width: calc(100% / 27);
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ccc;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .initial__items li a {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  padding: 5px 0;
  color: #333;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .initial__items li:hover a {
  background: #222;
  color: #fff;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .brand__items {
  letter-spacing: -.4em;
  padding: 0 0 30px;
  border-bottom: solid #ccc 1px;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li {
  display: inline-block;
  width: calc(100% / 4);
  letter-spacing: normal;
  margin: 15px 0 0;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li .alpha {
  font-size: 14px;
  font-weight: bold;
}
.main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li .kana {
  font-size: 12px;
  margin: 5px 0 0;
}
.main .main__notify {
  margin: 100px 0 0;
}
.main .main__notify.notify .notify__cont {
  margin: 0 auto 0;
  width: 800px;
}
.main .main__notify.notify .notify__cont img {
  width: 100%;
}
.main .main__rcmd {
  margin: 70px 0 0;
}
.main .main__rcmd .ttl {
  text-align: center;
  font-size: 24px;
}
.main .main__rcmd.rcmd .rcmd__cont {
  margin: 0 auto 0;
  width: 1000px;
}
.main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item {
  float: left;
  width: 230px;
  margin: 20px 25px 0 0;
}
.main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item:nth-child(4n) {
  margin: 20px 0 0 0;
}
.main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item a img {
  width: 100%;
}
.main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item span {
  display: inline-block;
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 18px;
  height: 40px;
}
.main .main__mail {
  margin: 100px 0 0;
  padding: 50px 0;
  background: #f2f2f2;
  text-align: center;
}
.main .main__mail.mail .mail__cont {
  margin: 0 auto 0;
  width: 800px;
}
.main .main__mail.mail .mail__cont .ttl {
  font-size: 28px;
  font-weight: bold;
}
.main .main__mail.mail .mail__cont .icon {
  margin: 20px 0 0;
}
.main .main__mail.mail .mail__cont .icon i {
  font-size: 58px;
}
.main .main__mail.mail .mail__cont .txt {
  margin: 20px 0 0;
}
.main .main__mail.mail .mail__cont .btn a {
  margin: 30px 0 0;
  display: inline-block;
  border-radius: 25px;
  padding: 15px 60px;
  background: linear-gradient(50deg, #222222, #222222);
  font-size: 100%;
  color: #fff;
}
.main .main__mail.mail .mail__cont .btn a i {
  font-size: inherit;
  color: #fff;
}

.footer {
  width: 100%;
  margin: 50px 0 0;
  padding: 0 0 20px;
}
.footer .footer__cont {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.footer .footer__cont .footer__btn a {
  display: inline-block;
  border-radius: 25px;
  padding: 15px 60px;
  background: linear-gradient(50deg, #222222, #222222);
  font-size: 100%;
  color: #fff;
}
.footer .footer__cont .footer__btn a i {
  font-size: inherit;
  color: #fff;
}
.footer .footer__cont .footer__info.info {
  margin: 30px 0 0;
}
.footer .footer__cont .footer__info.info .info__list {
  line-height: 1.6em;
}
.footer .footer__copy {
  clear: both;
  margin: 50px 0 0;
  text-align: center;
  font-size: 12px;
}

.totop {
  display: none;
  width: 60px;
  height: 60px;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.totop a {
  display: block;
  text-align: center;
  height: 100%;
}
.totop a span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.totop a span::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  top: 22px;
  left: 21px;
}

.sex {
  position: fixed;
  left: 50px;
  bottom: 30px;
}
.sex .sex__items .item {
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
  width: 120px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}
.sex .sex__items .item img {
  border-radius: 50%;
  width: 100%;
  border: solid 1px #fff;
}
.sex .sex__items .item span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 120px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-weight: bold;
}
.sex .sex__items .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.sex .sex__items .item.active::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 5px;
  display: block;
  background: #49b136;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.sex .sex__items .item.active::before {
  background: none;
}

@media all and (min-width: 769px) {
  [data-cat$="sp"],
  .sp {
    display: none !important;
  }
}
@media all and (max-width: 768px) {
  [data-cat$="pc"],
  .pc {
    display: none !important;
  }

  [data-cat$="sp"],
  .sp {
    display: block !important;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
  }
  .header .header__cont {
    min-width: auto;
  }
  .header .header__cont .header__left {
    float: none;
  }
  .header .header__cont .header__left .header__logo {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 10px;
    text-align: center;
    border-bottom: solid 1px #ccc;
    display: none;
  }
  .header .header__cont .header__left .header__logo.logo {
    float: none;
  }
  .header .header__cont .header__left .header__logo.logo .logo__txt {
    font-size: 16px;
  }
  .header .header__cont .header__left .header__logo.logo .logo__txt span {
    display: block;
    font-size: 10px;
  }
  .header .header__cont .header__left .header__search.search {
    float: none;
    margin: 0 15px 0 60px;
    width: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header .header__cont .header__left .header__search.search button {
    right: 8px;
    margin: 0;
    padding: 0;
  }
  .header .header__cont .header__left .header__search::after {
    content: '【告知】楽天お買い物マラソン 10月4日(日)スタート！';
    position: relative;
    bottom: -5px;
    font-size: 11px;
    line-height: 1.2em;
  }
  .header .header__cont .header__menu .header__toggle {
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 15px;
    width: 36px;
    height: 42px;
  }
  .header .header__cont .header__menu .header__toggle.toggle .toggle__btn {
    background-color: #b31d22;
    display: block;
    width: 36px;
    height: 3px;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    position: relative;
    top: 12px;
    left: 0;
  }
  .header .header__cont .header__menu .header__toggle.toggle .toggle__btn::before {
    background-color: #b31d22;
    display: block;
    width: 36px;
    height: 3px;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    content: '';
    position: absolute;
    top: -12px;
    left: 0;
  }
  .header .header__cont .header__menu .header__toggle.toggle .toggle__btn::after {
    background-color: #b31d22;
    display: block;
    width: 36px;
    height: 3px;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
  }
  .header .header__cont .header__menu .header__toggle.toggle .toggle__txt {
    color: #b31d22;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 2px;
  }
  .header .header__cont .header__menu .header__toggle.toggle.active .toggle__btn {
    background-color: transparent;
  }
  .header .header__cont .header__menu .header__toggle.toggle.active .toggle__btn::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    left: 6px;
  }
  .header .header__cont .header__menu .header__toggle.toggle.active .toggle__btn::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    left: 6px;
  }
  .header .header__cont .header__menu .menu__cont {
    display: none;
    position: absolute;
    left: 0;
    top: 67px;
    width: 100%;
    background: #fff;
  }
  .header .header__cont .header__menu .menu__cont .info__items, .header .header__cont .header__menu .menu__cont .nav__items {
    padding: 0 20px;
  }
  .header .header__cont .header__menu .menu__cont .info__items .item, .header .header__cont .header__menu .menu__cont .nav__items .item {
    border-bottom: solid #ccc 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
  }
  .header .header__cont .header__menu .menu__cont .info__items .item:last-child, .header .header__cont .header__menu .menu__cont .nav__items .item:last-child {
    border: none;
  }
  .header .header__cont .header__menu .menu__cont .info__items .item a, .header .header__cont .header__menu .menu__cont .nav__items .item a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
  }

  .main {
    margin: 80px auto 0;
  }
  .main .main__headline {
    width: auto;
  }
  .main .main__headline.headline {
    position: relative;
  }
  .main .main__headline.headline .headline__crumb {
    display: none;
  }
  .main .main__headline.headline .headline__mv img {
    width: 100%;
  }
  .main .main__headline.headline .headline__ttl {
    margin: 30px 0 0;
    font-size: 17px;
  }
  .main .main__headline.headline .headline__date {
    margin: 30px auto 0;
    font-size: 17px;
  }
  .main .main__headline.headline .headline__date span .font--small {
    font-size: 14px;
  }
  .main .main__headline.headline .headline__txt {
    width: 90%;
    font-size: 14px;
  }
  .main .main__headline.headline .headline__bnr {
    margin: 50px auto 0;
    width: 90%;
  }
  .main .main__headline.headline .headline__bnr.bnr .bnr__ttl {
    padding: 20px 30px;
    font-size: 26px;
  }
  .main .main__headline.headline .headline__bnr.bnr .bnr__ttl span {
    margin: 15px 0 0;
    font-size: 14px;
    line-height: 1.2em;
  }
  .main .main__headline.headline .headline__cpn {
    margin: 40px 10px 0;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__ttl {
    font-size: 15px;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr {
    width: 60%;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__01 {
    width: 70px;
    top: -30px;
    left: 15px;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__02 {
    width: 70px;
    top: -30px;
    right: 15px;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__03 {
    width: 70px;
    top: -30px;
    left: 15px;
  }
  .main .main__headline.headline .headline__info {
    margin: 40px 10px 0;
  }
  .main .main__headline.headline .headline__info.info .info__ttl {
    font-size: 15px;
  }
  .main .main__headline.headline .headline__info.info .info__bnr {
    width: 60%;
  }
  .main .main__headline.headline .headline__nav {
    margin: 40px 0 0;
  }
  .main .main__headline.headline .headline__nav.nav .nav__ttl {
    font-size: 15px;
  }
  .main .main__headline.headline .headline__nav.nav .nav__items {
    margin: 0 50px 0;
  }
  .main .main__headline.headline .headline__nav.nav .nav__items .item {
    width: 48%;
    margin: 4% 4% 0 0;
  }
  .main .main__headline.headline .headline__nav.nav .nav__items .item:nth-child(2n) {
    margin: 4% 0 0 0;
  }
  .main .main__headline.headline .headline__special {
    width: auto;
    margin: 40px auto;
    padding: 0 0 20px;
  }
  .main .main__headline.headline .headline__special.special h2 {
    padding: 15px 0 10px;
    font-size: 30px;
  }
  .main .main__headline.headline .headline__special.special .special__list {
    margin: 0 20px 0;
  }
  .main .main__headline.headline .headline__special.special .special__list .item {
    width: 49%;
    margin: 10px 2% 0 0;
  }
  .main .main__headline.headline .headline__special.special .special__list .item:nth-child(3n) {
    margin: 10px 2% 0 0;
  }
  .main .main__headline.headline .headline__special.special .special__list .item:nth-child(2n) {
    margin: 10px 0 0 0;
  }
  .main .main__headline.headline .headline__special .cont__btn {
    width: 60%;
    margin: 30px auto 0;
  }
  .main .main__headline.headline .headline__special .cont__btn a {
    display: block;
    background: #222;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ffffff 1px;
    width: 100%;
    margin: 0 auto;
  }
  .main .main__headline.headline .headline__special .cont__btn a:hover {
    color: #222;
    background: #ffffff;
    border: solid #222 1px;
  }
  .main .main__headline.headline .headline__btn {
    width: 60%;
    margin: 30px auto 0;
  }
  .main .main__headline.headline .headline__btn a {
    display: block;
    background: #222;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ffffff 1px;
    width: 100%;
    margin: 0 auto;
  }
  .main .main__headline.headline .headline__btn a:hover {
    color: #222;
    background: #ffffff;
    border: solid #222 1px;
  }
  .main .main__cont {
    margin: 0 10px 0;
    width: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main .main__cont.cont .cont__remark {
    width: auto;
    margin: 40px auto;
  }
  .main .main__cont.cont .cont__remark.remark h2 {
    font-size: 28px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item {
    width: 49%;
    margin: 2% 2% 0 0;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item .item__price {
    font-size: 14px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item:nth-child(3n) {
    margin: 2% 2% 0 0;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item:nth-child(2n) {
    margin: 2% 0 0 0;
  }
  .main .main__cont.cont .cont__remark .cont__btn {
    width: 60%;
    margin: 30px auto 0;
  }
  .main .main__cont.cont .cont__remark .cont__btn a {
    display: block;
    background: #222;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ffffff 1px;
    width: 100%;
    margin: 0 auto;
  }
  .main .main__cont.cont .cont__remark .cont__btn a:hover {
    color: #222;
    background: #ffffff;
    border: solid #222 1px;
  }
  .main .main__notify {
    margin: 50px 0 0;
  }
  .main .main__notify.notify .notify__cont {
    margin: 0 10px 0;
    width: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main .main__notify.notify .notify__cont img {
    width: 100%;
  }
  .main .main__rcmd {
    margin: 70px 0 0;
  }
  .main .main__rcmd .ttl {
    text-align: center;
    font-size: 24px;
  }
  .main .main__rcmd.rcmd .rcmd__cont {
    margin: 0 20px 0;
    width: auto;
  }
  .main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item {
    width: 23.5%;
    margin: 20px 2% 0 0;
  }
  .main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item span {
    margin: 6px 0 0;
    font-size: 12px;
  }
  .main .main__mail {
    margin: 50px 0 0;
    padding: 30px 0;
  }
  .main .main__mail.mail .mail__cont {
    margin: 0 10px 0;
    width: auto;
  }
  .main .main__mail.mail .mail__cont .ttl {
    font-size: 20px;
  }
  .main .main__mail.mail .mail__cont .icon {
    margin: 10px 0 0;
  }
  .main .main__mail.mail .mail__cont .icon i {
    font-size: 38px;
  }
  .main .main__mail.mail .mail__cont .txt {
    margin: 20px 0 0;
    font-size: 14px;
  }
  .main .main__mail.mail .mail__cont .btn a {
    display: inline-block;
    border-radius: 25px;
    padding: 15px 60px;
    background: linear-gradient(50deg, #222222, #222222);
    font-size: 100%;
    color: #fff;
    margin: 30px 0 0;
    font-size: inherit;
  }

  .footer .footer__cont {
    width: 100%;
  }

  .sex {
    left: 20px;
    bottom: 20px;
  }
}
@media all and (max-width: 414px) {
  .main .main__headline.headline .headline__mallinfo {
    margin: 0 auto 0;
  }
  .main .main__headline.headline .headline__mallinfo img {
    width: 100%;
  }
  .main .main__headline.headline .headline__txt {
    width: 95%;
  }
  .main .main__headline.headline .headline__bnr {
    margin: 30px auto 0;
    width: 95%;
  }
  .main .main__headline.headline .headline__bnr.bnr .bnr__ttl {
    padding: 10px 15px;
    font-size: 16px;
  }
  .main .main__headline.headline .headline__bnr.bnr .bnr__ttl span {
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 1.3em;
  }
  .main .main__headline.headline .headline__entry {
    margin: 50px 0 0;
  }
  .main .main__headline.headline .headline__entry.entry .entry__txt {
    font-size: 14px;
    margin: 5px 0 0;
  }
  .main .main__headline.headline .headline__entry.entry .entry__txt span {
    font-size: 18px;
  }
  .main .main__headline.headline .headline__entry.entry .entry__btn a {
    width: 80%;
    margin: 10px auto 0;
    padding: 10px 0;
    border-radius: 26px;
    font-size: 16px;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr {
    width: 90%;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__01 {
    width: 50px;
    top: -10px;
    left: 10px;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__02 {
    width: 50px;
    top: -10px;
    right: 10px;
  }
  .main .main__headline.headline .headline__cpn.cpn .cpn__bnr img.ttl__03 {
    width: 50px;
    top: -10px;
    left: 10px;
  }
  .main .main__headline.headline .headline__info.info .info__list {
    margin: 0 0 0;
  }
  .main .main__headline.headline .headline__info.info .info__list .item {
    float: none;
    width: 90%;
    margin: 15px auto 0;
  }
  .main .main__headline.headline .headline__info.info .info__list .item:nth-child(2) {
    margin: 15px auto 0;
  }
  .main .main__headline.headline .headline__nav {
    margin: 30px 0 0;
  }
  .main .main__headline.headline .headline__nav.nav .nav__ttl {
    font-size: 15px;
  }
  .main .main__headline.headline .headline__nav.nav .nav__items {
    margin: 0 10px 0;
  }
  .main .main__headline.headline .headline__nav.nav .nav__items .item {
    width: 49%;
    margin: 2% 2% 0 0;
  }
  .main .main__headline.headline .headline__nav.nav .nav__items .item span {
    top: 37%;
  }
  .main .main__headline.headline .headline__nav.nav .nav__items .item:nth-child(2n) {
    margin: 2% 0 0 0;
  }
  .main .main__headline.headline .headline__special {
    width: auto;
    margin: 20px auto;
    padding: 0 0 10px;
  }
  .main .main__headline.headline .headline__special.special h2 {
    padding: 10px 0 0;
    font-size: 20px;
    line-height: 70px;
  }
  .main .main__headline.headline .headline__special.special h2 img {
    width: 100px;
  }
  .main .main__headline.headline .headline__special.special .special__list {
    margin: 0 20px 0;
  }
  .main .main__headline.headline .headline__special.special .special__list .item {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .main .main__headline.headline .headline__special.special .special__list .item .item__term {
    padding: 5px 6px 5px;
    font-size: 10px;
  }
  .main .main__headline.headline .headline__special.special .special__list .item .item__price {
    font-size: 14px;
    margin: 10px 0 0 10px;
  }
  .main .main__headline.headline .headline__special.special .special__list .item .item__price span {
    font-size: 18px;
  }
  .main .main__headline.headline .headline__special.special .special__list .item .item__price.shipping__free:after {
    margin: 0 0 0 4px;
    padding: 3px 3px 2px;
    font-size: 10px;
  }
  .main .main__headline.headline .headline__special.special .special__list .item .btn__fav {
    margin: 10px 10px 0;
  }
  .main .main__headline.headline .headline__special.special .special__list .item .btn__fav a {
    font-size: 16px;
    font-weight: bold;
  }
  .main .main__headline.headline .headline__special.special .special__list .item:nth-child(3n) {
    margin: 20px 0 0 0;
  }
  .main .main__headline.headline .headline__special.special .special__list .item:nth-child(2n) {
    margin: 20px 0 0 0;
  }
  .main .main__headline.headline .headline__special .cont__btn {
    width: 60%;
    margin: 30px auto 0;
  }
  .main .main__headline.headline .headline__special .cont__btn a {
    display: block;
    background: #222;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ffffff 1px;
    width: 100%;
    margin: 0 auto;
  }
  .main .main__headline.headline .headline__special .cont__btn a:hover {
    color: #222;
    background: #ffffff;
    border: solid #222 1px;
  }
  .main .main__headline.headline .headline__btn {
    width: 60%;
    margin: 30px auto 0;
    width: auto;
    margin: 20px 20px;
  }
  .main .main__headline.headline .headline__btn a {
    display: block;
    background: #222;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ffffff 1px;
    width: 100%;
    margin: 0 auto;
  }
  .main .main__headline.headline .headline__btn a:hover {
    color: #222;
    background: #ffffff;
    border: solid #222 1px;
  }
  .main .main__headline.headline .headline__btn a {
    font-size: 13px;
    padding: 12px 0;
  }
  .main .main__headline.headline .headline__btn .btn__coution {
    font-size: 16px;
    padding: 0 0 10px;
  }
  .main .main__cont.cont .cont__remark {
    width: auto;
    margin: 20px auto;
    padding: 0 0 5px;
  }
  .main .main__cont.cont .cont__remark.remark h2 {
    padding: 20px 0 15px;
    font-size: 20px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__kwd .item {
    font-size: 14px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__kwd .item a {
    color: #e81f18;
    border-bottom: solid #e81f18 1px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item {
    width: 49%;
    margin: 2% 2% 0 0;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item p {
    margin: 5px 0 0 5px;
    font-size: 10px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item .item__term {
    padding: 5px 6px 5px;
    font-size: 12px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item .item__price {
    font-size: 12px;
    margin: 10px 0 0 5px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item .item__price span {
    font-size: 16px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item .item__price.shipping__free:after {
    margin: 0 0 0 4px;
    padding: 3px 3px 2px;
    font-size: 10px;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item .btn__fav {
    margin: 10px 5px 0;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item .btn__fav a {
    padding: 10px 0;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item:nth-child(4n) {
    margin: 2% 2% 0 0;
  }
  .main .main__cont.cont .cont__remark.remark .remark__list .item:nth-child(2n) {
    margin: 2% 0 0 0;
  }
  .main .main__cont.cont .cont__remark.remark .cat__list {
    width: auto;
    margin: 20px auto 0;
  }
  .main .main__cont.cont .cont__remark.remark .cat__list .item {
    width: 25%;
    margin: 0 0 0 0;
  }
  .main .main__cont.cont .cont__remark .cont__btn {
    width: 60%;
    margin: 30px auto 0;
    width: 80%;
    margin: 20px auto;
  }
  .main .main__cont.cont .cont__remark .cont__btn a {
    display: block;
    background: #222;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid #ffffff 1px;
    width: 100%;
    margin: 0 auto;
  }
  .main .main__cont.cont .cont__remark .cont__btn a:hover {
    color: #222;
    background: #ffffff;
    border: solid #222 1px;
  }
  .main .main__cont.cont .cont__remark .cont__btn a {
    font-size: 13px;
    padding: 12px 0;
  }
  .main .main__cont.cont .cont__brand h2 {
    text-align: center;
    font-size: 20px;
    margin: 40px 0 0;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont h4 {
    margin: 20px 0 10px 3px;
    font-size: 22px;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .initial__items {
    margin: 15px 0 0;
    letter-spacing: -.4em;
    border-bottom: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .initial__items li {
    display: inline-block;
    width: calc(100% / 9);
    letter-spacing: normal;
    background: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .initial__items li a {
    display: block;
    font-size: inherit;
    font-weight: inherit;
    padding: 5px 0;
    margin: 1px;
    border: solid #ccc 1px;
    color: #333;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .brand__items {
    padding: 0 0 5px;
    border: solid #ccc 1px;
    margin: 0 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li {
    width: auto;
    display: block;
    margin: 10px 10px 0;
    padding: 0 0 5px;
    border-bottom: dotted #ccc 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li:last-child {
    border: none;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li .alpha {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  .main .main__cont.cont .cont__brand.brand .brand__cont .brand__items li .kana {
    font-size: 13px;
    margin: 5px 0 0;
  }
  .main .main__rcmd {
    margin: 40px 0 0;
  }
  .main .main__rcmd .ttl {
    font-size: 20px;
  }
  .main .main__rcmd.rcmd .rcmd__cont {
    margin: 0 10px 0;
    width: auto;
  }
  .main .main__rcmd.rcmd .rcmd__cont .rcmd__items {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
  .main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item {
    float: none;
    width: 200px;
    margin: 20px 10px 0 0;
    display: block;
  }
  .main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item:nth-child(4n) {
    margin: 20px 10px 0 0;
  }
  .main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item a img {
    width: 150px;
  }
  .main .main__rcmd.rcmd .rcmd__cont .rcmd__items .item span {
    margin: 0 0 0;
    font-size: 10px;
    line-height: 14px;
  }
  .main .main__mail.mail .mail__cont .ttl {
    font-size: 18px;
  }
  .main .main__mail.mail .mail__cont .icon i {
    font-size: 32px;
  }
  .main .main__mail.mail .mail__cont .txt {
    font-size: 14px;
    line-height: 1.4em;
  }
  .main .main__mail.mail .mail__cont .btn a {
    display: inline-block;
    border-radius: 25px;
    padding: 15px 60px;
    background: linear-gradient(50deg, #222222, #222222);
    font-size: 100%;
    color: #fff;
    font-size: 14px;
  }

  .footer {
    margin: 30px 0 0;
  }
  .footer .footer__cont {
    width: 100%;
  }
  .footer .footer__cont .footer__btn a {
    font-size: inherit;
    padding: 13px 50px;
  }
  .footer .footer__cont .footer__info.info .info__list {
    font-size: 14px;
    line-height: 1.4em;
  }
  .footer .footer__copy {
    font-size: 10px;
  }

  .sex {
    left: 10px;
    bottom: 10px;
  }
  .sex .sex__items .item {
    margin: 0 10px 0 0;
    width: 90px;
  }
  .sex .sex__items .item span {
    line-height: 90px;
    font-size: 14px;
  }
  .sex .sex__items .item.active::after {
    top: 10px;
    right: 3px;
    width: 14px;
    height: 14px;
  }
}
/* *************************************

font style

************************************** */
@font-face {
  font-family: "FuturaConMid";
  src: url("../font/futura_condensed_medium.woff2") format("woff2"), url("../font/futura_condensed_medium.woff") format("woff");
}
@font-face {
  font-family: "FuturaConLig";
  src: url("../font/futura_condensed_light.woff2") format("woff2"), url("../font/futura_condensed_light.woff") format("woff");
}
@font-face {
  font-family: "FuturaMd";
  src: url("../font/futura_md.eot?") format("eot"), url("../font/futura_md.woff2") format("woff2"), url("../font/futura_md.woff") format("woff");
}
@font-face {
  font-family: "FuturaMi";
  src: url("../font/futura_mi.eot?") format("eot"), url("../font/futura_mi.woff2") format("woff2"), url("../font/futura_mi.woff") format("woff");
}
